<!DOCTYPE html>
<html lang="sk">
<head>
    <meta charset="UTF-8">
    <title>Kalkulačka</title>
    <script src="../static/script.js" defer></script>
</head>
<body>
<h1>Kalkulačka</h1>
</body>
<label for="a">a:</label>
<input type="number" id="a" name="a">
<select name="operacia" id="operacia">
    <option value="scitanie">scitanie</option>
    <option value="odcitanie">odcitanie</option>
    <option value="nasobenie">nasobenie</option>
    <option value="delenie">delenie</option>
    </select>

<label for="b">b:</label>
<input type="number" id="b" name="b">
<input type="button" value="Vypočítať" id="vypocitatButton"></br></br>
<p>Výsledok: <span id="vysledok"></span></p>

</html>